/* Write your CSS here */
.bg {
  background-color: #ffc2a0;
  margin: 10px;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 20p solid #ff8542;
}
.card {
  background-color: white;
  margin: 10px;
  text-align: center;
  padding: 20px;
}
